@font-face {
    font-family: 'Boldonse';
    src: url('../fonts/Boldonse/Boldonse-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rowdies';
    src: url('../fonts/Rowdies/Rowdies-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.menu-section {
    display: none !important;
    /* Caché par défaut */
}

.menu-section.active {
    display: block !important;
    /* Affiché uniquement si actif */
}